{% extends "base.html" %}
{% block content %}
<h1 class="m-3">Список вопросов</h1>
{% if questions %}
{% for question in questions %}
<div class ="card-mb-3">
    <div class ="card-body">
        <p class ="lead">{{ question.text }}</p>
        <a href ="{% url 'question_detail' poll_id question.id %}" class ="btn btn-primary btn-sm">Ответить сейчас</a>
    </div>
</div>
{% endfor %}
{% else %}
  <p>Пока что нет ни одного вопроса в данном опросе</p>
{% endif %}
<div class ="card-body">
    {% if answered %}
        <a href ="{% url 'poll_completion' poll_id %}" class ="btn btn-success btn-sm">Завершить опрос</a>
    {% else %}
        <p class ="alert alert-secondary">
            <strong>{{ error_message }}</strong>
        </p>
    {% endif %}
</div>
{% endblock %}